@use 'defaults.scss';
@use 'variables.scss';
@use 'mixins.scss' as *;

button {
  transition: 0.3s ease;
  border: 1px solid var(--darkLilac);
  border-radius: var(--radius);
  padding: 10px 20px;
  background-color: var(--darkLilac);

  &.active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  }

  &:hover {
    transform: scale(0.9);
  }
}

input {
  transition: 0.3s ease;
  border: 1px solid var(--lilac);
  padding: 10px;
  border-radius: 50px;
  background-color: transparent;
  outline: none;

  &::placeholder {
    opacity: 0.5;
    color: var(--lilac);
  }

  &:focus {
    border: 1px solid var(--darkLilac);
  }
}

.g-title {
  //font-weight: bold;
  padding-bottom: 20px;
  font-size: 30px;
}

.g-shadow {
  position: relative;
  background-position: center;
  background-size: cover;

  &::after {
    background: inherit;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;

    transform: scale(var(--scale, 0.8));
    filter: blur(var(--blur, 10px)) saturate(3);
  }
}
