@use 'defaults.scss';
@use 'variables.scss';
@use 'mixins.scss' as *;

button {
  position: relative;
  transition: 0.3s ease;
  border: 1px solid var(--colorSecondary);
  border-radius: var(--radius);
  padding: 10px 20px;
  background-color: var(--colorSecondary);

  &.active {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: var(--colorPrimary);
      border-radius: 2px;
      bottom: -7px;
    }
  }

  &:hover {
    transform: scale(0.9);
  }
}

input {
  transition: 0.3s ease;
  border: 1px solid var(--colorPrimary);
  padding: 10px;
  border-radius: var(--radius);
  background-color: transparent;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);

  &::placeholder {
    opacity: 0.5;
    color: var(--colorPrimary);
  }

  &:focus {
    border: 1px solid white;
  }
}

.g-title {
  //font-weight: bold;
  padding-bottom: 20px;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.g-tag {
  transition: 0.3s ease;
  //box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  width: 100%;
  border-radius: var(--radius);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  text-align: center;

  opacity: 0.3;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &:hover {
  }
}

.g-shadow {
  position: relative;
  background-position: center;
  background-size: cover;

  &::after {
    background: inherit;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;

    transform: scale(var(--scale, 0.8));
    filter: blur(var(--blur, 10px)) saturate(3);
  }
}
