@use 'src/sass/mixins.scss' as *;

:root {
  --colorPrimary: #567c8d;
  --colorSecondary: #2f4156;
  --colorAccent: #f5edeb;
  --colorNeutral: #c8d9e6;

  --colorText: #222222;
  --colorText2: #627472;
  --colorText3: #fff;

  --colorBorder: #d3d3d3;
  --transparent: #00000000;

  --maxRadius: 15px;
  --minRadius: 8px;
  --menuHeight: 60px; // update globalVariables.ts MENU_HEIGHT
  --fontPrimary: 'Winky Rough';
  --fontSecondary: 'Quicksand';
}

.dark-mode {
  --colorNeutral: #121212; // #282828
  --colorSecondary: #282828;
  --colorSecondary2: #3f3f3f;
  --colorBorder: rgba(255, 255, 255, 0.2);
  --colorText: #f3f3f3;
  --colorText2: #adadad;
  --colorText3: #f1f1f1;
}
