:root {
  --colorPrimary: #d19df0; //#567c8d;
  --colorSecondary: #000000a4; //#2f4156;
  --colorAccent: #624a70; //#f5edeb;
  --colorNeutral: #09080e; //#c8d9e6;

  --colorText: #222222;
  --colorText2: #627472;
  --colorText3: #fff;

  --colorText: #fff;
  --colorText2: #627472;
  --colorText3: #1c1c28;

  --radius: 7px;

  --fontPrimary: 'miganty'; // 'Horence';
  --fontSecondary: 'Quicksand';
}

.dark-mode {
  --colorNeutral: #121212; // #282828
  --colorSecondary: #282828;
  --colorSecondary2: #3f3f3f;
  --colorBorder: rgba(255, 255, 255, 0.2);
  --colorText: #f3f3f3;
  --colorText2: #adadad;
  --colorText3: #f1f1f1;
}
